<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<%=server.templateManager.renderTemplate("head.html", {
		title: "Kusa.Games: Credits",
		description: "Credits and other miscellaneous information."
	})%>
	<body>
		<%=server.templateManager.renderTemplate("menu.html")%>
		<div class="container">
			<div class="h5 ms-content ms-text-center py-4 shadow">
				Database Engine: <a target="_blank" href="https://github.com/EikaMikiku/KusaGames">GitHub</a> by Eika#4321 (on Discord).
				<br>
				<br>
				</a>
			</div>
		</div>
	</body>
</html>